name: Build Android

on:
  push:
    branches:
      - master

jobs:
  process:
    name: Build Android
    runs-on: ubuntu-latest
    env:
      KEYSTORE: ${{ secrets.KEYSTORE }}
      KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
      STORE_FILE: ${{ secrets.STORE_FILE }}
      KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD}}
      KEY_PASSWORD: ${{ secrets.KEY_PASSWORD}}
      GITHUB_TAG: 'refs/heads/v0.0.1-rc1'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "2.10.2"
      - run: sh ./scripts/release.sh
      # 发布到 Release
#      - name: Release apk
#        uses: ncipollo/release-action@v1.9.0
#        with:
#          artifacts: "build/app/outputs/apk/release/app-release.apk"
#          prerelease: true
#          token: ${{ secrets.TOKEN }}
