name: Build Mac

on:
  push:
    branches:
      - closed

jobs:
  process:
    name: Build Mac
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
        with:
          channel: 'beta'
      - run: flutter config --enable-macos-desktop
      - run: flutter build macos
